<div class="row">
    <form [formGroup]="userForm">
        <div class="form-group">
          <label for="user">Add new user</label>
          <input type="user" class="form-control" id="user" aria-describedby="user" formControlName="name" placeholder="Enter user name and surname">
        </div>
        <div class="form-group">
          <label for="phone">Phone number</label>
          <input type="phone" class="form-control" id="phone" formControlName="phone" placeholder="Enter phone">
        </div>
        <button class="btn btn-primary" (click)="createUser()">Submit</button>
    </form>
    <h1>List of my users</h1>
    <div class="col-12" *ngFor="let user of users">{{user.name}} <button type="submit" class="btn btn-primary" (click)="deleteUser(user.id)">Delete</button></div>
    
</div>
