.wholeRow {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-color: rgb(101, 9, 35)
}


.homedesign {
    width: 100%;
    height: 250px;
    background-size: cover;
    ;
}